<div class="row">
  <div class="col-6 homepage_content">
    <h2>About</h2>
    <hr>
    <p>I'm a junior developer and designer living in Portland Oregon.</p>
    <p>I am a student at Epicodus, a vocational school for programming. By day, you'll find me in school, pair programming and studying HTML, CSS, Javascript, JQuery, Angular2, Node, and Ruby on Rails. By night, you'll find me going to meetups, working on projects, starring cool repositories on github and posting cool tech articles on my site.</p>
  </div>
  <div class="col-3 homepage_content">
    <h2>Things I've Written</h2>
    <hr>
  </div>
  <div class="col-3 homepage_content">
    <h2>Things I've Built</h2>
    <hr>
  </div>
</div>
