<h1>Projects Page</h1>

<% if @projects.any? %>
  <div class="card">
    <% @projects.each do |p| %>
      <h4><%= p.title %></h4>
      <p><%= p.description %></p>
      <hr>
    <% end %>
  </div>
<% else %>
  <div class="card">
    <h4>No current projects.</h4>
  </div>
<% end %>
