<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <a href="#">Sarah Lindmar</a>
      <nav>
        <a href="#">Posts</a>
        <a href="#">Projects</a>
        <a href="#">Skills</a>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
